<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>

    <h2>User Data:</h2>
    {{ user_data|safe }}

    <h2>Update Profile:</h2>
    <form method="POST" action="{{ url_for('user_profile', user_id=user.id) }}">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <div>{{ form.new_username.label }}</div>
        <div>{{ form.new_username() }}</div>
        <div>{{ form.new_email.label }}</div>
        <div>{{ form.new_email() }}</div>
        <div>{{ form.submit() }}</div>
    </form>
</body>
</html>
